.contact-section {
    color: white;
    width: 100%;
    min-height: 600px;
    background-color: #1A1A2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-section .title {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 2px solid #5658E2;
    width: fit-content;
    margin-bottom: 40px;
}

.contact-section .description-wrapper {
    background-color: #2A2A4E;
    border: 2px solid #5658E2;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.contact-section .description-wrapper .description {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.contact-section .downlodeBTN {
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: var(--color-blue);
    height: 42px;
    width: 200px;
    border: 2px solid #5658E2;
    border-radius: 20px 0 20px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-section .downlodeBTN:hover {
    background-color: var(--color-bg);
    transform: scale(1.05);
}

@media screen and (max-width: 420px) {
    .contact-section .title {
        font-size: 30px;
        margin: 0 20px 40px 20px;
    }

    .contact-section .description-wrapper {
        width: 90%;
        padding: 15px;
    }

    .contact-section .description-wrapper .description {
        font-size: 12px;
        text-align: justify;
    }
}
