.header a{
   text-decoration: none;
   color: white;

}
.header {
    width: 100%;
    height: 60px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    /* border: 4px solid red; */

}

.Menu {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 500px;
    
}

.menuItems {
    font-size: 14px;
    font-weight: 250;
    width: 100px;
    height: 38px;
    text-align: center;
    background-color: transparent;
    border: 2px solid transparent;
    color: #f8f9fa;
    border-radius: 20px;  
    padding: 5px 0;
    cursor: pointer;
    transition: all ease 0.5s;
} 



.menuItems a {
    text-decoration: none;
    margin: 0px;
}

/* .menuItems a:hover {
    color: #ffffff;
    transition: 1s;
} */

.menuItems a:hover{
    color: white !important;
    transition: all 0.3 ease;
}
.menuItems:hover{
    color: #ffffff;
    background-color: rgb(16, 170, 170);
    transition: 0.5s ease;
}

.connectBTN {
    width: 160px;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    color: #f8f9fa;
    font-weight: 400;
    background-color: #212529;
    border: 2px solid #495057;
    border-radius: 20px;
    transition: ease 0.2s;
}
.connectBTN a:hover{
    color: #ffffff !important;
}
.connectBTN:hover{
    color: #ffffff;
    background-color: #007bff;
    transition: all ease 0.5s;
    border-color: #6c757d;
}

.connectBTN-Disabled {
    width: 160px;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-weight: 400;
    background-color: #007bff;
    border: 2px solid #6c757d;
    border-radius: 20px;
    transition: ease 0.2s;
}
/* =========media querries========== */
@media screen and (max-width: 420px) {

    .header {
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
        gap: 30px;
    }
    .connectBTN {
        width: 130px;
        height: 32px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1130px) {
    
    .
}